.rickshaw_graph .line_annotation_outer {
    position: absolute;
    width: 1px;
}

.rickshaw_graph .line_annotation_outer.detailed {
    width: 500px;
}

.rickshaw_graph .line_annotation {
    cursor: default;
    background: white;
    color: black;
    opacity: 0.9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    position: relative;
    z-index: 20;
    font-size: 11px;
    padding: 1px 3px 1px;
    top: -9px;
    white-space: nowrap;
}

.rickshaw_graph .line_annotation_outer.detailed .line_annotation {
    white-space: normal;
    z-index: 30;
    opacity: 1;
}

.rickshaw_graph .line_annotation.left {
    left: 20px;
}
.rickshaw_graph .line_annotation.right {
    right: 20px;
}

.rickshaw_graph .line_annotation_outer.detailed .line_annotation.right {
    right: 520px;
}

.rickshaw_graph .line_annotation:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent #7F7F7F;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -4px;
    top: 9px;
}

.rickshaw_graph .line_annotation.left:before {
    border-width: 4px 20px 4px 0;
    left: -21px;
}

.rickshaw_graph .line_annotation:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -4px;
    top: 9px;
}

.rickshaw_graph .line_annotation.left:after {
    border-width: 4px 20px 4px 0;
    left: -20px;
}

.rickshaw_graph .line_annotation.right:before {
    border-width: 4px 0 4px 20px;
    right: -21px;
}

.rickshaw_graph .line_annotation.right:after {
    border-width: 4px 0 4px 20px;
    right: -20px;
}