.rickshaw_graph .line_annotation_outer {
    position: absolute;
    width: 1px;
}

.rickshaw_graph .line_annotation_outer.detailed {
    width: 500px;
}

.rickshaw_graph .line_annotation {
    cursor: default;
    background: white;
    color: black;
    opacity: 0.9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    position: relative;
    z-index: 20;
    font-size: 11px;
    padding: 1px 3px 1px;
    top: -9px;
    white-space: nowrap;
}

.rickshaw_graph .line_annotation_outer.detailed .line_annotation {
    white-space: normal;
    z-index: 30;
    opacity: 1;
}

.rickshaw_graph .line_annotation_outer.fromleft .line_annotation {
    float: left;
    left: 20px;
}
.rickshaw_graph .line_annotation_outer.fromright .line_annotation {
    float: right;
    right: -480px;
}

.rickshaw_graph .line_annotation_outer.fromright.detailed .line_annotation {
    right: 20px;
}

.rickshaw_graph .line_annotation:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent #BFBFBF;
    display: block;
    width: 0;
    z-index: 0;
    top: 5px;
}

.rickshaw_graph .line_annotation:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    top: 6px;
}

.rickshaw_graph .line_annotation_outer.fromleft .line_annotation:before {
    border-width: 5px 21px 5px 0;
    left: -21px;
}

.rickshaw_graph .line_annotation_outer.fromleft .line_annotation:after {
    border-width: 4px 20px 4px 0;
    left: -18px;
}

.rickshaw_graph .line_annotation_outer.fromright .line_annotation:before {
    border-width: 5px 0 5px 21px;
    right: -21px;
}

.rickshaw_graph .line_annotation_outer.fromright .line_annotation:after {
    border-width: 4px 0 4px 20px;
    right: -18px;
}