/** {*/
    /*outline: 1px red solid;*/
/*}*/

#cover {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.0);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    cursor: wait !important;
}

button {
    padding: 1px 6px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

input:disabled {
    color: gray;
}

#sprint-select {
    position: absolute;
    width: 170px;
    border: 1px solid #BBB;
}

#name-input {
    width: 330px;
}

.date-input {
    width: 115px;
    vertical-align: middle;
}

.number-input {
    width: 40px;
    vertical-align: middle;
}

.ok-button {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(../images/ok.png);
    background-repeat: no-repeat;
}

.cancel-button {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(../images/cancel.png);
    background-repeat: no-repeat;
}

.sprint-details {
    position: relative;
    left: 200px;
}

#actions-group-panel {
    position: absolute;;
    left: 440px;
    top: -3px;
    width: 250px;
}

#actions-panel {
    position: relative;
}

#risky-actions-panel {
    position: relative;
    left: 20px;
}

.confirm-panel {
    margin-left: 20px;
}

#sprint-chart-container {
    margin-top: 10px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

#sprint-chart-container > #chart {
    position: relative;
    left: 40px;
}

#sprint-chart-container .tick text {
    stroke: none;
}

#sprint-chart-container > #y-axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}

#legend-container {
    position: absolute;
    top: 200px;
    left: -200px;
}

.rickshaw_legend {
    width: 220px;
    background: rgba(0, 0, 0, 0.0);
    position: static;
    display: list-item;
}

#bubbles-mgr {
    padding-top: 0;
}

.rickshaw_legend .line {
    white-space: normal;
    color: #333;
}

.rickshaw_legend .label {
    white-space: normal;
}

#sprint-chart-container .detail .item.active {
    opacity: 0;
}

.rickshaw_graph .line_annotation_outer.detailed .pointsAdded {
    float: right;
    color: green;
}

.rickshaw_graph .line_annotation_outer.detailed .pointsRemoved {
    float: right;
    color: red;
}

.rickshaw_graph .line_annotation_outer.detailed p {
    margin: 0;
    text-indent: 0;
}

.rickshaw_graph .line_annotation_outer.detailed p.storyPointsSum {
    margin-top: 5px;
}