#cover {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.0);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    cursor: wait !important;
}

input:disabled {
    color: gray;
}

#sprint-select {
    position: absolute;
    width: 170px;
}

#name-input {
    width: 330px;
}

.date-input {
    width: 110px;
}

.number-input {
    width: 40px;
}

.ok-button {
    position: relative;
    top: 4px;
    width: 21px;
    height: 21px;
    background-image: url(../images/ok.png);
    background-repeat: no-repeat;
}

.cancel-button {
    position: relative;
    top: 4px;
    width: 21px;
    height: 21px;
    background-image: url(../images/cancel.png);
    background-repeat: no-repeat;
}

.sprint-details {
    position: relative;
    left: 200px;
    line-height: 20px;
}

#actions-group-panel {
    position: absolute;;
    left: 440px;
    top: -3px;
    line-height: 20px;
    width: 250px;
}

#actions-panel {
    position: relative;
}

#risky-actions-panel {
    position: relative;
    left: 20px;
}

.confirm-panel {
    margin-left: 20px;
}

#sprint-chart-container {
    margin-top: 10px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

#sprint-chart-container > #chart {
    position: relative;
    left: 40px;
}

#sprint-chart-container .tick text {
    stroke: none;
}

#sprint-chart-container > #y-axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}

#sprint-chart-container > #legend {
    position: absolute;
    top: 200px;
    left: -200px;
    width: 220px;
    background: rgba(0, 0, 0, 0.0);
}

#sprint-chart-container > #legend .line {
    white-space: normal;
    color: #333;
}

#sprint-chart-container > #legend .label {
    white-space: normal;
}