<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head><meta content="text/html; charset=UTF-8" http-equiv="content-type" /><title>Home</title></head>
  <body class="lift:content_id=main">
    <div id="main" data-lift="surround?with=default;at=content">
      <script data-lift="MicroBurnServices"></script>
      <script type="application/javascript" src="js/MicroBurnApp.js"></script>
      <div ng-app="MicroBurnApp">
        <div id="project-panel" ng-controller="ProjectCtrl" data-lift="Angular.bind?type=ProjectStateBinder">
          <select ng-model="selectedSprint" id="sprint-select"
                  ng-options="sprint.details.formattedName for sprint in sprintsOrdered track by sprint.id"
                  ng-disabled="createMode || removeDecisionMode || editBaseMode">
          </select>
          <div>
            <span class="sprint-details">
              from: <input id="start-date" type="text" ng-model="editedSprint.start" class="date-input" ng-focus="!createMode && enterEditStartMode()"
                           ng-disabled="!scrumSimulation || selectedSprint == null && !createMode || selectedSprint != null && !selectedSprint.details.isActive || removeDecisionMode"
                           ng-keydown="!createMode && $event.keyCode == 13 && saveStart() || $event.keyCode == 27 && cancelEditStart()">
              <span ng-show="editStartMode">
                <button class="ok-button"  ng-click="saveStart()"></button>
                <button class="cancel-button" ng-click="cancelEditStart()"></button>
              </span>
                to: <input id="end-date" type="text" ng-model="editedSprint.end" class="date-input" ng-focus="!createMode && enterEditEndMode()"
                           ng-disabled="!scrumSimulation || selectedSprint == null && !createMode || selectedSprint != null && !selectedSprint.details.isActive || removeDecisionMode"
                           ng-keydown="!createMode && $event.keyCode == 13 && saveEnd() || $event.keyCode == 27 && cancelEditEnd()">
              <span ng-show="editEndMode">
                <button class="ok-button"  ng-click="saveEnd()"></button>
                <button class="cancel-button" ng-click="cancelEditEnd()"></button>
              </span>
              <span ng-show="scrumSimulation">
                base sp: <input id="base-sp" type="text" ng-model="editedSprint.baseStoryPoints" ng-focus="!createMode && enterEditBaseMode()"
                                ng-disabled="selectedSprint == null || !selectedSprint.details.isActive || removeDecisionMode"
                                ng-keydown="$event.keyCode == 13 && saveBase() || $event.keyCode == 27 && cancelEditBase()"
                                select-on-click class="number-input">
                <span ng-show="editBaseMode">
                  <button class="ok-button"  ng-click="saveBase()"></button>
                  <button class="cancel-button" ng-click="cancelEditBase()"></button>
                </span>
              </span>
              <script type="application/javascript">
                $('.date-input').datetimepicker({
                  lang: "en",
                  dayOfWeekStart: 1,
                  format: window.dateFormat,
                  enterLikeTab: false
                });
                $(".number-input").numeric(".");
              </script>
              <span id="actions-group-panel" ng-show="scrumSimulation">
                <span id="actions-panel">
                  <button ng-click="finishSprint()" ng-disabled="!selectedSprint.details.isActive">Finish</button>
                  <button ng-click="createSprint()" ng-disabled="existsActiveSprint || createMode || removeDecisionMode || editBaseMode || editStartMode || editEndMode">Create new</button>
                </span>
                <span id="risky-actions-panel">
                  <button ng-click="askForRemoveSprint()" ng-disabled="selectedSprint == null || selectedSprint.details.isActive || removeDecisionMode || editBaseMode || editStartMode || editEndMode">Remove</button>
                </span>
              </span>
            </span>
          </div>
          <div class="sprint-details" ng-show="createMode">
            name: <input type="text" ng-model="editedSprint.name" focus-on="createModeEntered" id="name-input"/>
            <span class="confirm-panel">
              <button ng-click="startSprint()">Start</button>
              <button ng-click="discardCreate()">Discard</button>
            </span>
          </div>
          <div class="sprint-details" ng-show="removeDecisionMode">
            Are you sure want to remove '{{selectedSprint.details.name}}'?
            <span class="confirm-panel">
              <button ng-click="removeSprint()">Yes</button>
              <button ng-click="discardRemove()">Cancel</button>
            </span>
          </div>
          <div sprint-chart></div>
        </div>
      </div>
    </div>
  </body>
</html>

